﻿
InventoryBar
{
    position: absolute;
    width: 100%;
    top: -150px;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
    transition: all 0.2s ease;
    pointer-events: none;
}

.onslotchanged InventoryBar 
{
    top: 0px;
}

.spawnmenuopen InventoryBar
{
    top: -150px;
}

InventoryIcon {
    width: 80px;
    height: 80px;
    margin: 0px 2px;
    position: relative;
    transition: all 0.6s ease-in-out;
    margin-top: 10px;
    font-family: poppins;
    background-color: rgba( #111, 0.2 );
    border-bottom: 0px solid $blue;

    .item-name {
        padding: 5px;
        color: white;
        text-align: center;
        left: 0;
        right: 0;
        font-size: 9px;
        position: absolute;
        bottom: 0;
        opacity: 0.1;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        mix-blend-mode: lighten;
    }

    .slot-number {
        font-size: 25px;
        color: black;
        font-weight: 900;
        opacity: 0.2;
        position: absolute;
        top: 1px;
        right: 5px;
    }

    &.active {
        background-color: rgba( #111, 0.3 );
        border-bottom: 5px solid #3273eb;
        height: 95px;
        width: 95px;
        transition: all 0.1s ease-out;

        .slot-number {
            opacity: 0.5;
        }

        .item-name {
            opacity: 0.5;
            transition: all 0.1s ease-out;
            font-size: 11px;
        }
    }
}
