﻿@inherits Sandbox.UI.Panel
@using System
@using Sandbox

<style>
    Ammo
    {
        position: absolute;
        right: 100px;
        bottom: 48px;
        font-size: 30px;
        font-weight: bold;
        color: white;
        height: 80px;
        padding: 0 30px;
        align-items: center;
        font-family: Poppins;
        background-color: rgba( #111, 0.5 );
        transition: all 0.2s ease-out;
    }
    
    .spawnmenuopen Ammo
    {
        pointer-events: none;
        right: 50px;
        transform: scale(0);
    }
    
    label {
        z-index: 2;
        overflow: hidden;
    }
</style>

<root>
    <label>@(GetAmmoCount())</label>
</root>

@code {
    public string GetAmmoCount()
    {
        var player = Game.LocalPawn as SandboxPlayer;
        if (player == null) return "";

        var ammoCountString = "10/80";
        
        return ammoCountString;
    }

    protected override int BuildHash()
    {
        var currentJob = GetAmmoCount();

        return currentJob.GetHashCode();
    }
}