﻿@inherits Sandbox.UI.Panel
@using System
@using Sandbox
@using Sandbox.Jobs

<style>
    PlayerInfo
    {
        left: 18px;
        bottom: 18px;
        font-weight: bold;
        font-family: Poppins;
        white-space: nowrap;
        transition: all 0.2s ease-out;
        background-color: rgba( #111, 0.7 );
        color: white;
        font-size: 16px;
    }
    
    .spawnmenuopen .jobInfo
    {
        pointer-events: none;
        left: 0px;
        transform: scale(0);
    }
    
    .spawnmenuopen .status
    {
        pointer-events: none;
        left: 0px;
        transform: scale(0);
    }
    
    .spawnmenuopen .money
    {
        pointer-events: none;
        left: 0px;
        transform: scale(0);
    }
    
    .spawnmenuopen .profile
    {
        pointer-events: none;
        left: 0px;
        transform: scale(0);
    }
    
    .profile 
    {
        position: absolute;
        bottom: 40px;
        height: 132px;
        width: 132px;
        transition: all 0.2s ease-out;
        background-color: rgba( #111, 0.7 );
    }
        
    label.profile {
        width: 132px;
        height: 20px;
        bottom: 0px;
        text-align: center;
        position: absolute;
        z-index: 2;
        overflow: hidden;
        background-color: rgba( #111, 0.7 );
    }

    .money
    {
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 132px;
        padding: 0 10px;
        transition: all 0.2s ease-out;
        background-color: rgba( #111, 0.9 );
    }
    
    .jobInfo 
    {
        position: absolute;
        left: 146px;
        bottom: 112px;
        height: 60px;
        width: 326px;
        white-space: nowrap;
        transition: all 0.2s ease-out;
        background-color: rgba( #111, 0.7 );
    }
    
    .static 
    {
        position: absolute;
        left: 20px;
        text-align: left;
        color: white;
    }
        
    .value
    {
        position: absolute;
        right: 20px;
        text-align: right;
        color: lightgray;
    }
        
    label.jobInfo {
        position: absolute;
        width: 400px;
        height: 20px;
        right: 20px;
        z-index: 1;
    }
    
    .status 
    {
        position: absolute;
        left: 146px;
        bottom: 0px;
        font-size: 30px;
        height: 102px;
        width: 326px;
        align-items: center;
        flex-direction: column;
        background-color: rgba( #111, 0.7 );
        transition: all 0.2s ease-out;
    }
    
    .progressbar {
        position: absolute;
        left: 50px;
        width: 266px;
        height: 13px;
        background-color: white;
    }
    
    .fill {
        height: 100%;
        width: 75%;
        transition: all .1s ease;
    }
    
    .icon {
        position: absolute;
        width: 25px;
        height: 25px;
        left: -35px;
        top: -10px;
        background-size: 100%;
    }
    
    label.status {
        width: 266px;
        height: 13px;
        left: 0;
        text-align: center;
        position: absolute;
        z-index: 1;
        font-size: 16;
        background-color: transparent;
        color: black;
    }
</style>

<root>
    <div class="money">
        <label>@(GetMoney() + " Р")</label>
    </div>
    
    <div class="profile">
        <label class="profile">@(GetName())</label>
    </div>
    
    <div class="jobInfo">
        <label class="static" style="top: 5px">#jobinfo.job</label>
        <label class="static" style="top: 30px">#jobinfo.salary</label>
        <label class="value" style="top: 5px">@(GetCurrentJob())</label>
        <label class="value" style="top: 30px">@(GetCurrentSalary() + " Р")</label>
    </div>
    
    <div class="status">
        <div class="progressbar" style="bottom: 69px">
            <label class="status">@(GetStatusData(Data.Health))</label>
            <div class="fill" style="width: @(GetStatusData(Data.Health))%; background-color: rgb(219,134,127);"></div>
            <div class="icon" style="background-image: url(textures/heart.png)"></div>
        </div>
        <div class="progressbar" style="bottom: 42px">
            <label class="status">@(GetStatusData(Data.Armor))</label>
            <div class="fill" style="width: @(GetStatusData(Data.Armor))%; background-color: rgb(57,143,220);"></div>
            <div class="icon" style="background-image: url(textures/shield.png)"></div>
        </div>
        <div class="progressbar" style="bottom: 15px">
            <label class="status">@(GetStatusData(Data.Food))</label>
            <div class="fill" style="width: @(GetStatusData(Data.Food))%; background-color: rgb(164,195,135);"></div>
            <div class="icon" style="background-image: url(textures/food.png); top: -8px></div>
        </div>
    </div>
</root>

@code {
    ///
    /// Режимы сбора данных
    /// 
    public enum Data
    {
    // Получение здоровья
        Health,
    // Получение брони
        Armor,
    // Получение сытости
        Food
    }

    public int GetStatusData( Data _data )
    {
        var player = Game.LocalPawn as SandboxPlayer;
        if (player == null) return 0;
        
        switch (_data)
        {
            case Data.Health:
                return (int)player.Health;
            case Data.Armor:
                return (int)player.Armor;
            case Data.Food:
                return (int)player.Food;
            default:
                return 0;
        }
    }
    
    public string GetName()
    {
        var player = Game.LocalPawn as SandboxPlayer;
        if (player == null) return "";

        string playerName = player.RPName;
        if (String.IsNullOrEmpty(playerName))
            playerName = Game.LocalClient.Name;
        int maxLength = 12;

        playerName = playerName.Length < maxLength ? playerName : playerName.Substring(0, maxLength) + "...";
        
        return playerName;
    }
    
    public int GetMoney()
    {
        var player = Game.LocalPawn as SandboxPlayer;
        if (player == null) return 0;

        return (int)player.Money;
    }
    
    public string GetCurrentJob()
    {
        var player = Game.LocalPawn as SandboxPlayer;
        if (player == null) return ""; 
        
        string jobName = TypeLibrary.GetType(player.CurrentJob.GetType()).Title;
        int maxLength = 27;

        jobName = jobName.Length < maxLength ? jobName : jobName.Substring(0, maxLength) + "...";
        
        return jobName;
    }

    public int GetCurrentSalary()
    {
        var player = Game.LocalPawn as SandboxPlayer;
        if (player == null) return 0;

        return player.CurrentJob.Salary;
    }

    protected override int BuildHash()
    {
        var money = GetMoney();
        var name = GetName();
        var job = GetCurrentJob();
        var salary = GetCurrentSalary();
        var health = GetStatusData( Data.Health );
        var armor = GetStatusData( Data.Armor );
        var food = GetStatusData( Data.Food );

        return HashCode.Combine(money, name, job, salary, health, armor, food);
    }
}