﻿@import "/Styles/hud.scss";

ActionButton
{
  padding: 12px 26px;
  min-height: 64px;
  width: 356px;

  &.icon-only
  {
    padding: 0;
    width: 64px;
    justify-content: center;

    > .main
    {
      display: none;
    }

    > .extra
    {
      left: -3px;
    }
  }

  &.disabled
  {
    opacity: 0.5;
  }

  .main
  {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 4px;
  }

  .extra
  {
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  border-left: 4px solid transparent;
  transition: all 0.1s ease;

  .title
  {
    font-family: $main-font-bold;
    text-transform: uppercase;
    font-size: 24px;
    color: $theme-color;
    opacity: 0.7;
    height: 24px;
  }

  .description
  {
    font-family: $main-font;
    font-size: 16px;
    opacity: 0.7;
  }

  &:not( .has-background )
  {
    > .background
    {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.1s ease;
      background-size: contain;
      mask-mode: luminance;
      background-color: rgba( 10, 10, 10, 1 );
      opacity: 0.5;
      mask-image: url( https://files.facepunch.com/tony/1b2611b1/dots_repeat.png );
      box-shadow: 4px 4px 25px rgba( black, 0.2 );
    }
  }

  &.has-background
  {
    min-height: 128px;
    width: 356px;
    padding: 26px;
    background-color: transparent;

    > .background
    {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.1s ease;
      mask-mode: luminance;
      mask-position: center;
      background-color: $main-color;
      mask-image: url( https://files.facepunch.com/tony/1b1311b1/boxes.webm );
      box-shadow: 4px 4px 25px rgba( black, 0.2 );
    }
  }

  &.small
  {
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    min-height: 24px;

    .title, .extra
    {
      font-family: $main-font;
      font-size: 16px;
    }

    i
    {
      font-size: 12px;
    }

    .title
    {
      height: 16px;
    }
  }

  &:not( .disabled )
  {
    &:hover
    {
      cursor: pointer;
      border-left: 4px solid $theme-color;

      .title, .description
      {
        opacity: 1;
      }

      left: 4px;
    }

    &:active
    {
      .title, .description
      {
        transform: scale( 0.99 );
      }

      > .background
      {
        background-color: rgb(57, 83, 143);
      }
    }
  }

  &.no-click
  {
    pointer-events: none;
  }
}