﻿@using System
@using Sandbox
@using Sandbox.Razor
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]

<root>
    <div class="background" @ref=Background />

    <div class="main">
        <div class="title">
            @Title
        </div>

        <div class="description">
            @Description
        </div>
    </div>

    <div class="extra">
        @Extra
    </div>
</root>

@code
{
    public RenderFragment Title { get; set; }
    public RenderFragment Description { get; set; }
    public RenderFragment Extra { get; set; }
    public string WithBackground { get; set; } = null;
    public string Blend { get; set; } = null;
    public bool Disabled { get; set; }
	
    Panel Background { get; set; }
	
    protected override void OnAfterTreeRender( bool firstTime )
    {
        SetClass( "has-background", !string.IsNullOrEmpty( WithBackground ) );
        SetClass("disabled", Disabled  );
		
        if ( HasClass( "has-background" ) )
        {
            Background.Style.MaskImage = Texture.Load( WithBackground );
        }

        if ( !string.IsNullOrEmpty( Blend ) )
        {
            Background.Style.BackgroundColor = Blend;
        }

        Background.Style.MaskRepeat = BackgroundRepeat.NoRepeat;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Time.Delta );
    }
}