﻿
$blue: #3273eb;

@import "/Styles/spawnmenu/spawnmenu.scss";
@import "/Styles/toolbar/toolbar.scss";
@import "/Styles/hud/chatbox.scss";

CurrentTool
{
    border-left: 10px solid $blue;
    position: absolute;
    background-color: rgba( #111, 0.5 );
    top: 100px;
    left: 100px;
    padding: 20px 50px;
    flex-direction: column;
    opacity: 0.0;

    &.active
    {
        opacity: 1.0;
    }

    .title
    {
        font-size: 30px;
        color: white;
        font-family: Poppins;
        font-weight: 800;
        mix-blend-mode: lighten;
        text-transform: uppercase;
    }

    .description
    {
        font-size: 12px;
        font-weight: normal;
        color: white;
        opacity: 0.5;
        font-family: Poppins;
        font-weight: 500;
        mix-blend-mode: lighten;
        text-transform: uppercase;
    }
}

.spawnmenuopen CurrentTool
{
    opacity: 0.01;
}

rootpanel
{

    &.devcamera
    {
        display: none;
    }
}

icon, iconpanel
{
    font-family: "material icons";
    flex-grow: 1;
    text-align: left;
}

i
{
    font-family: "material icons";
    text-align: center;
}

.tooltip
{
    font-family: Roboto;
    background-color: rgba( #fea, 0.95 );
    border: 1px solid rgba( #555, 0.1 );
    padding: 2px 5px;
    border-radius: 3px;
    color: #222;
}