﻿@import "/Styles/hud.scss";

ModalOverlay
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  transition: all 0.5s ease;

  .modal-background
  {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    pointer-events: all;
  }

  .modal
  {
    font-family: $main-font;
    padding: 64px;
    background-color: rgba( $main-color, 0.2 );
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    pointer-events: all;
    transition: all 0.2s ease;
    backdrop-filter: blur(50px);
    opacity: 1;

    &:intro
    {
      opacity: 0;
      transform: scale( 1.1 );
    }

    &:outro
    {
      opacity: 0;
      transform: scale( 1.1 );
    }
  }
}